<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>vue</title>
        <!-- 用户CSS文件 -->
        <!-- build:css styles/index.css-->
        <link rel="stylesheet" type="text/css" href="../assets/style/index.css">
        <!-- endbuild -->
    </head>

    <body>
        <component :is='currentView' :params='params'></component>
    </body>
    
   
    <script></script>
</html>